@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}






.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(pic1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: rgb(0, 0, 0);
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgb(0, 0, 0);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

